.donaciones{
    max-width: 120rem;
    margin: 0 auto;
    padding: 12rem 0rem 5rem 0rem;
}
.donaciones-texto{
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    grid-template-rows: repeat(4, 0.5fr);
    gap: 1rem;
}
.donaciones-texto > div{
    border-radius: 1.5rem;
}
.encuentros{
    font-size: $text-base;
}
.logo-donacion{
    text-align: center;
    margin-top: 3rem;
}
.web-donations{
    background-color: $text-color-3;
}
.icono-donacion{
    font-size: $text-intermedio;
}

    .donacion:nth-of-type(1){
        grid-column: 1 / 2;
        grid-row: 1 / 3;
        font-size: auto;
        width: 100%;
    }
    .donacion:nth-of-type(2){
        grid-column: 2 / 3;
        grid-row: 1; 
        font-size: 25px;
        background-color: $text-color-3
    }
    .donacion:nth-of-type(3){
        grid-column: 2 / 3;
        grid-row: 2; 
        font-size: 25px;
        background-color: $text-color-3
    }
    .donacion:nth-of-type(4){
        grid-column: 1 / 3;
        grid-row: 3; 
        font-size: $text-base;
        background-color: $text-color-3;
    }
    .donacion:nth-of-type(5){
        grid-column: 3 / 5;
        grid-row: 3;
        font-size: $text-base;
        text-align: center;
        background-color: $text-color-3;
    }
    .donacion:nth-of-type(6){
        grid-column: 1 / 3;
        grid-row: 4;
        font-size: 4.5rem;
        text-align: center;
        padding-top: 1rem;
        background-color: rgb(206, 206, 0);
    }
    .donacion:nth-of-type(7){
        grid-column: 3 / 5;
        grid-row: 4;
        font-size: 4.5rem;
        text-align: center;
        padding-top: 1rem;
        background-color: rgb(86, 86, 255);
    }




