/*HOME*/

.descripcion{
    position: relative;
    left: 11rem;
    width: 600px;
    padding: 10px;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: justify;
    color: rgb(49, 48, 48);

    .descripcion-titulo{
        background-color: rgb(186, 255, 108);
    }
}

.videos{
    text-align: center;

    .video-titulo{
        padding: 5rem;
        font-size: 40px;
    }
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

    .cajas{
        /* background-color: darksalmon; */
        height: 500px;
        width: 400px;
        font-size: 20px;
        /* border: 3px solid grey; */
        box-sizing: border-box;
        margin: 5rem 5rem 7rem 5rem;
        text-align: justify;

        .titulo-cajas{
            background-color: rgb(186, 255, 108);
        }
    }
}