/*HOME*/

.descripcion{
    position: relative;
    left: 11rem;
    width: 60rem;
    padding: 1rem;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: $text-base;
    text-align: justify;
    color: rgb(49, 48, 48);

    .descripcion-titulo{
        background-color: rgb(186, 255, 108);
    }
}

.videos{
    text-align: center;

    .video-titulo{
        padding: 5rem;
        font-size: 4rem;
    }
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.cajas{
    height: 52rem;
    width: 40rem;
    font-size: 2rem;
    
    box-sizing: border-box;
    margin: 5rem 5rem 7rem 5rem;
    text-align: justify;

    .titulo-cajas{
        background-color: rgb(186, 255, 108);
    }
}
.portada{
    padding-top: 11rem;
    width: 100%;
    height: 40rem;
}
