/*HOME*/

.portada{
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-imagen{
    display: flex;
    width: 100%;
    max-width: 800px;
    /* margin-left: 30%; */
    justify-content: center;
    align-items: center;
}

.descripcion{
    position: relative;
    left: 11rem;
    width: 60rem;
    padding: 1rem;
    display: block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: $text-base;
    text-align: justify;
    color: rgb(49, 48, 48);

    .descripcion-titulo{
        background-color: rgb(186, 255, 108);
    }
}

.videos{
    text-align: center;
    /* margin-left: 20rem;
    margin-right: 20rem; */

    .video-titulo{
        padding: 5rem;
        font-size: 4rem;
        font-family: cursive; 
        color: $text-color-4;
    }

    .video-video{
        width: 100%;
        height: 500px;
        border-radius: 4rem;
        border-color: black;
    }
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.cajas{
    height: 52rem;
    width: 40rem;
    font-size: 2rem;
    
    box-sizing: border-box;
    margin: 5rem 5rem 7rem 5rem;
    text-align: justify;

    .titulo-cajas{
        background-color: rgb(186, 255, 108);
    }
}

.libro{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.libro-contenido{
    height: 38rem;
    width: 40rem;
    font-size: 2rem;
    
    box-sizing: border-box;
    margin: 5rem 20rem 3rem 5rem;
    text-align: justify;

    .titulo-libro{
        font-family: cursive;
    }
}

.testimonios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

.texto-testimonio{
    height: 38rem;
    width: 35rem;
    font-size: 2rem;
    
    box-sizing: border-box;
    margin: 5rem 20rem 3rem 5rem;
    text-align: justify;
}

.fa-circle-user{
    font-size: 8rem;
    text-align: center;
}
.texto-testimonio{
    font-size: $text-intermedio;
}
.testimonios-descripcion{
    color: $text-color-3;
}
.texto-autor{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

