/*PRENSA*/

.prensa{
    text-align: center;
    margin-top: 10rem;
}
.encuentro-con-el-presidente-de-la-nacion{
    font-size: $text-medium;
    background-color: $primary;
    font-family: cursive;
}
.texto-presidente{
    font-size: $text-base;
}
.imagen-presidente{
    transform: scale;
}
.encuentros-titulo{
    font-size: $text-small;
    font-family: cursive;
}
.noticias{
    max-width: 120rem;
    margin: 0 auto;
}
.grilla{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
}
.encuentros:nth-of-type(1){
    grid-column: 1 / 5;
    font-size: $text-titulo;
    text-align: center;

}
.grilla > div{
    border: 0.1rem solid black;
    background-color: $boton-formulario-enviar;
    border-radius: 1rem;
}
.encuentros{
    font-size: $text-base;
    text-decoration: none;
}

.prensa-noticias{
    text-decoration: none;
    font-family: $font-descripcion;
    color: $text-color-1;
}